
@import "../mixins.scss";
@import "../variables.scss";
@import "../typography.scss";

.jm-textinput {
  @include font-defaults;
  font-size: 1.5rem;
  height: 1.5rem;
  width: auto;
  min-width: 1.5rem;
}

