@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$font-family: 'Open Sans', sans-serif;

@mixin font-defaults {
  font-family: $font-family;
}

@mixin heading {
  @include font-defaults;

  font-size: 40px;
  font-weight: bold;
}
