@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$font-family: 'Open Sans', sans-serif;

@mixin font-defaults {
  font-family: $font-family;
}

.dark-font {
  &:hover {
    color: $jm-turqoise-darkmode;
  }
}

.dark-font-selected {
  color: $jm-turqoise-darkmode;
}

.light-font {
  &:hover {
    color: $jm-turqoise-lightmode;
  }
}

.light-font-selected {
  color: $jm-turqoise-lightmode;
}

@mixin heading {
  @include font-defaults;

  font-size: 40px;
  font-weight: bold;
}
