// Variables
// https://coolors.co/333333-48e5c2-fcfaf9-f3d3bd-5e5e5e
$jm-black: #333333;
$jm-white: #FCFAF9;
$jm-silk: #F3D3BD;
$jm-grey: #5E5E5E;
$jm-turqoise-darkmode: #48E5C2;
$jm-turqoise-lightmode: #2c8b77;

:root {
  --background: $jm-white;
  --font-color: $jm-grey;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: $jm-grey;
    --font-color: $jm-white;
  }
}

.dark-bg {
  background-color: $jm-black;
  color: $jm-white;
}

.light-bg {
  background-color: $jm-white;
  color: $jm-black;
}